body {
    font-family: "Neuton", serif;
    background-color: #916173;
}

.calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12vh;
    margin-left: 40vw;
    background-color: #435861;
    width:fit-content;
    padding: 2%;
    border-radius: 10px;
}

.display{
    background-color: #916173;
    border-radius: 8px;
    box-shadow: #65434f 4px 4px inset;
    border: #65434f 2px solid;
}

.display.top{
    height: 50px;
    width: 96%;
    margin-bottom: 20px;
}

.display.bottom{
    height: 70px;
    width: 96%;
    margin-bottom: 40px;
}

.square, .right{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row{
    display: flex;
    gap: 10px;
}

.btn{
    height: 70px;
    width: 70px;
    border-radius: 8px;
    border: none;
    font-size: 28px;
    box-shadow: #916173 4px 4px;
    border: #916173 2px solid;
}

.button-container{
    display: flex;
    gap: 10px;
}

.btn:hover{
    transition: all 0.1s ease-in-out;
    background-color: #a0a0a0;
}

.btn:active{
    transition: all 0.05s ease-in-out;
    transform: scale(0.95);
    box-shadow: none;
    background-color: #000000;
    border: #ffffff 2px solid;
    color: #ffffff
}


.btn.zero{
    width: 150px;
}

.btn.equals{
    height: 150px;
    background-color: #c5a2af;
    box-shadow: #916173 4px 4px;
    border: #916173 2px solid;
}
.btn.equals:hover{
    transition: all 0.05s ease-in-out;
    background-color: #a88a95
}
.btn.equals:active{
    transition: all 0.05s ease-in-out;
    transform: scale(0.95);
    box-shadow: none;
    background-color: #000000;
    border: #ffffff 2px solid;
    color: #ffffff;
}


.btn.operator{
    background-color: #26B2C2;
    box-shadow: #2093a0 4px 4px;
    border: #2093a0 2px solid;
}

.btn.operator:hover{
    transition: all 0.05s ease-in-out;
    background-color: #2093a0
}

.btn.operator:active{
    transition: all 0.05s ease-in-out;
    transform: scale(0.95);
    box-shadow: none;
    background-color: #000000;
    border: #ffffff 2px solid;
    color: #ffffff;
}



