body {
    font-family: "Neuton", serif;
    background-color: #916173;
}

.calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
    margin-left: 38vw;
    background-color: #435861;
    width:fit-content;
    padding: 2%;
    border-radius: 10px;
    max-width: 320px;
}

.display{
    background-color: #916173;
    border-radius: 8px;
    box-shadow: #65434f 4px 4px inset;
    border: #65434f 2px solid;
    max-width: 96%;
}

.display.top{
    height: 50px;
    width: 96%;
    margin-bottom: 20px;
}

.display.bottom{
    height: 70px;
    width: 96%;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10px;
    overflow: hidden;
    max-width: 96%;
}

.text.bottom{
    font-size: 48px;
    margin: 0;
    outline: 1px solid blue;
}

.square, .right{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row{
    display: flex;
    gap: 10px;
}

.btn{
    height: 70px;
    width: 70px;
    border-radius: 8px;
    border: none;
    font-size: 28px;
    box-shadow: #916173 4px 4px;
    border: #916173 2px solid;
}

.button-container{
    display: flex;
    gap: 10px;
}

.btn:hover{
    transition: all 0.1s ease-in-out;
    background-color: #a0a0a0;
}

.btn:active{
    transition: all 0.05s ease-in-out;
    transform: scale(0.9);
    box-shadow: none;
    background-color: #000000;
    border: #ffffff 2px solid;
    color: #ffffff
}


.btn.zero{
    width: 150px;
}

.btn.equals{
    height: 150px;
    background-color: #c5a2af;
    box-shadow: #916173 4px 4px;
    border: #916173 2px solid;
}
.btn.equals:hover{
    transition: all 0.05s ease-in-out;
    background-color: #a88a95
}
.btn.equals:active{
    transition: all 0.05s ease-in-out;
    transform: scale(0.9);
    box-shadow: none;
    background-color: #000000;
    border: #ffffff 2px solid;
    color: #ffffff;
}


.btn.operator{
    background-color: #26B2C2;
    box-shadow: #2195a2 4px 4px;
    border: #2195a2 2px solid;
}

.btn.operator:hover{
    transition: all 0.05s ease-in-out;
    background-color: #2093a0
}

.btn.operator:active{
    transition: all 0.05s ease-in-out;
    transform: scale(0.9);
    box-shadow: none;
    background-color: #000000;
    border: #ffffff 2px solid;
    color: #ffffff;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-top: 20px;

}

#favicon{
    width:90px;
    height:90px;
}

#favicon:hover{
    transition: all 0.2s ease-in-out;
    transform: scale(0.9);
}





